
.header-text {
    text-align: center;
    background-image: linear-gradient(#01FDF6, #CBBAED);
    padding: 10px;
    color: #1B1F3B;
}
.forecast-card {
    background-color: #CBBAED;
    margin: 5px;
    
}
#forecast-header {
    padding-left: 11rem;
}

.forecast-container {
    padding-left: 12.4rem;
}